.ul {
    display: flex;
    justify-content: flex-end;
    
}

li {
    font-weight: 400;
    font-size: 17px;
    color: #636060;
    margin-right: 50px;
}

.owl {
    margin: 20px;
}

.P {
    font-size: 79px;
    font-weight: 700;
    color: purple;
}

.P1 {
    font-size: 19px;
    font-weight: 400;
    color: purple;
}

.IMG {
    width: 100%;
    margin-top: 30px;
}

.div1 {
    position: relative;
}

.div2 {
    position: absolute;
}

footer {
    display: flex;
}

.ls {
margin: 100px;
}

.ls h1 {
    font-weight: 400;
    font-size: 17px;
    color: #636060;
    margin-bottom: 10px;
    width: 89px;
    height: 20px;
}

.ls h2 {
    font-size: 28px;
    font-weight: 400;
    color: #010101;
    margin-bottom: 40px;
    width: 214px;
    height: 32px;
}

.ls p {
    font-size: 20px;
    font-weight: 400;
    color: #636060;
    width: 235px;
    height: 115px;
}
